{% extends "admin/layout.twig" %}

{% block title %} {{l.emailist.405}} {% endblock %}


{% block content %}


<!-- Main content -->
<div class="content-wrapper">



<!-- Page header -->
<div class="page-header page-header-transparent">
    <div class="page-header-content">
        <div class="page-title">
            <h1><i class="icon-arrow-right6 position-left"></i> <span class="text-semibold">{{l.emailist.405}}</span></h1>
        </div>

        <div class="heading-elements">
           {% if posts is not empty %}
            <a href="{{ path_for('posts.create') }}" class="btn bg-blue btn-labeled heading-btn"><b>
            <i class="icon-plus3"></i></b>     </a>
            
 <a href="javascript:void(0);" data-toggle="modal" data-target="#modal_iconified" class="btn bg-danger btn-labeled heading-btn"><b><i class="icon-trash"></i></b> {{l.emailist.406}}</a>
                        
                        
		            <!-- Iconified modal -->
					<div id="modal_iconified" class="modal fade">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal">&times;</button>
									<h5 class="modal-title"><i class="icon-menu7"></i> &nbsp;تنبيه وتحذير</h5>
								</div>

								<div class="modal-body">
									<div class="alert alert-info alert-styled-left text-blue-800 content-group">
						                <span class="text-semibold">رجاء !</span> انتبه من الخطوة التالية.
						                <button type="button" class="close" data-dismiss="alert">×</button>
						            </div>

									<h6 class="text-semibold"><i class="icon-law position-left"></i> حذف البيانات</h6>
									<p>عند قيامك بحذف كل الأعضاء فأنت تتحمل كامل المسؤولية ، لا يمكن التراجع عن هذه الخطوة فور اتخاذها 
									<br>
									رجاءً، خذ نسخة احتياطية قبل اتخاذ هذا القرار
									</p>

									
								</div>

								<div class="modal-footer">
									<a href="{{path_for('posts.blukdelete')}}" class="btn btn-link text-danger"  >
									 أنا موافق ، رجاءً قم بحذف كل البيانات</a>
									<button class="btn btn-primary" data-dismiss="modal"> اغلاق </button>
								</div>
							</div>
						</div>
					</div>
					<!-- /iconified modal -->
           {% endif %} 
        </div>
    </div>
</div>
<!-- /page header -->


<!-- Content area -->
<div class="content">
			        {% include "admin/elements/flash.twig" %}


{% if mailist is empty %}
		
			<div class="empty_state text-center">
			    
			<i class=" icon-mail-read empty_state_icon"></i>
		<h4> {{l.emailist.408}}</h4>
	
		
		
			</div>
{% endif %}



{% if mailist is not empty %}

<div class="panel panel-flat col-md-6">
        <table class="table datatable-basic">
            <thead>
                <tr>
                    <th><b>{{l.emailist.409}}</b></th>
                    <th><b>{{l.emailist.4010}}</b></th>
                </tr>
            </thead>
            <tbody>
                {% for email in mailist %}
                <tr>
                    <td>{{ email.email}}  </td>
                    <td>{{email.created_at|makeNiceTime}}</td>
                   
                </tr>
                {% endfor  %}
            </tbody>
          
        </table>
        
    </div>


{% include "admin/elements/pagination.twig" %}
</div>
{% endif %}

</div>
{% endblock %}