{% extends "admin/layout.twig" %}
{% block title %} الرئيسية{% endblock %}

{% block content %}


<!-- Main content -->
<div class="content-wrapper">

<!-- Content area -->
<div class="content">
				
<!-- header -->
<div class="panel panel-flat">
    <div class="panel-heading">
    <h2 class="panel-title">{{l.home.0}} <br><small>{{l.home.1}}</small></h2>
    </div>
    <div class="panel-body">
        <ul class="col-md-6 list list-icons">
            <h4>{{l.home.2}}</h4>
            <li>
            <a href="{{path_for('posts.create')}}"><i class="icon-plus3"></i> {{l.home.3}}</a>
            </li>
            <li><a href="{{path_for('pages.create')}}"><i class="icon-plus3"></i> {{l.home.4}}</a></li>
        </ul>
        <ul class='col-md-6 list list-icons'>
            <h4>{{l.home.5}}</h4>
            <li><a href="{{path_for('settings.general')}}"><i class="icon-gear"></i>{{l.home.6}} </a> </li>
            <li><a href="{{path_for('settings.account')}}"><i class="icon-comment-discussion"></i> {{l.home.7}}  </a> </li>
        </ul>									
    </div>
</div>			
<!--// header -->


{{count.raw}}
<!-- statistiques -->
<div class="row">
        <a href="{{path_for('products')}}">
        <div class="col-sm-6 col-md-3">
            <div class="panel panel-body bg-blue-400 has-bg-image">
                <div class="media no-margin">
                    <div class="media-body">
                        <h3 class="no-margin">{{count.products}}</h3>
                        <span class="text-uppercase text-size-mini"> {{l.home.8}} </span>
                    </div>
                    <div class="media-right media-middle">
                        <i class="icon-basket icon-3x opacity-75"></i>
                    </div>
                </div>
            </div>
        </div>
        </a>
        <a href="{{path_for('pages')}}">
            <div class="col-sm-6 col-md-3">
                <div class="panel panel-body bg-danger-400 has-bg-image">
                    <div class="media no-margin">
                        <div class="media-body">
                            <h3 class="no-margin">{{count.posts}}</h3>
                            <span class="text-uppercase text-size-mini">{{l.home.9}}</span>
                        </div>
                        <div class="media-right media-middle">
                            <i class="icon-file-empty2 icon-3x opacity-75"></i>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        <a href="{{path_for('users')}}">
            <div class="col-sm-6 col-md-3">
                <div class="panel panel-body bg-success-400 has-bg-image">
                    <div class="media no-margin">
                    <div class="media-body text-left">
                            <h3 class="no-margin">{{count.users}}</h3>
                            <span class="text-uppercase text-size-mini">{{l.home.10}}</span>
                        </div>
                        <div class="media-right media-middle">
                            <i class="icon-users2 icon-3x opacity-75"></i>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        <a href="{{path_for('mail')}}">
            <div class="col-sm-6 col-md-3">
                <div class="panel panel-body bg-indigo-400 has-bg-image">
                    <div class="media no-margin">
                        <div class="media-body text-left">
                            <h3 class="no-margin">{{count.emails}}</h3>
                            <span class="text-uppercase text-size-mini">{{l.home.11}}</span>
                        </div>
                        <div class="media-right media-middle">
                            <i class="icon-envelop2 icon-3x opacity-75"></i>
                        </div>
                    </div>
                </div>
            </div>
        </a>
</div>
<!--// statistiques -->

<!-- social media statistiques -->
<div class="row" id="wrapper"> 
<div class="col-sm-6 col-md-3">
    <div class="panel panel-body panel-body-accent">
        <div class="media no-margin">
            <div class="media-left media-middle">
                <i class="icon-facebook2 icon-3x" style="color:#3B5998;"></i>
            </div>

            <div class="media-body text-right">
                <h3 class="no-margin text-semibold item facebook"><span class="count">2020</span></h3>
                <span class="text-uppercase text-size-mini text-muted">{{l.home.12}}</span>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-6 col-md-3">
    <div class="panel panel-body">
        <div class="media no-margin">
            <div class="media-left media-middle">
                <i class="icon-twitter icon-3x" style="color:#1DA1F2;"></i>
            </div>

            <div class="media-body text-right">
                <h3 class="no-margin text-semibold item twitter"><span class="count"></span></h3>
                <span class="text-uppercase text-size-mini text-muted">{{l.home.13}}</span>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-6 col-md-3">
    <div class="panel panel-body">
        <div class="media no-margin">
            <div class="media-body">
                <h3 class="no-margin text-semibold item youtube"><span class="count"></span></h3>
                <span class="text-uppercase text-size-mini text-muted">{{l.home.14}}</span>
            </div>

            <div class="media-right media-middle" style="color:#c4302b;">
                <i  class="icon-youtube3 icon-3x"></i>
            </div>
        </div>
    </div>
</div>

<div class="col-sm-6 col-md-3">
    <div class="panel panel-body">
        <div class="media no-margin">
            <div class="media-body ">
                <h3 class="no-margin text-semibold item instagram"><span class="count"></span></h3>
                <span class="text-uppercase text-size-mini text-muted">{{l.home.15}}</span>
            </div>
            <div class="media-right media-middle" style="color:#8a3ab9;">
                <i class="icon-instagram icon-3x"></i>
            </div>
        </div>
    </div>
</div>
</div>
<!--// social media statistiques -->	
				
<!-- info -->
<div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h6 class="panel-title">{{l.home.16}}
                        <a class="heading-elements-toggle"><i class="icon-more"></i></a>
                    </h6>
                    <div class="heading-elements">
                        <ul class="icons-list">
                            <li><a data-action="collapse"></a></li>
                            <li><a data-action="close"></a></li>
                        </ul>
                    </div>
                </div>
                <div class="panel-body">
                    <table class="table border-dashed no-border">
                            <tr>
                                <td>{{l.home.17}}</td>
                                <td>1.0</td>
                            </tr>
                            <tr>
                                <td>{{l.home.18}}</td>
                                <td>{{info.phpversion}}</td>
                            </tr>
                            <tr>
                                <td>{{l.home.19}}</td>
                                <td>{{info.mysqlversion}}</td>
                            </tr>
                            <tr>
                                <td> {{l.home.20}}</td>
                                <td>{{info.filesize}}</td>
                            </tr>
                            <tr>
                                <td> {{l.home.21}} </td>
                                <td>{{info.databasesize}}</td>
                            </tr>
                        </table>
                </div>
            </div>
        </div>
        <div class="col-md-4">
           <div class="panel panel-default">
                <div class="panel-heading">
                    <h6 class="panel-title">{{l.home.22}}
                        <a class="heading-elements-toggle"><i class="icon-more"></i></a>
                    </h6>
                    <div class="heading-elements">
                        <ul class="icons-list">
                            <li><a data-action="collapse"></a></li>
                            <li><a data-action="close"></a></li>
                        </ul>
                    </div>
                </div>

               
                <div class="panel-body">
                    <table class="table border-dashed no-border">
                            <tr>
                                <td>{{l.home.23}}</td>
                                <td>{{temp.temp}}c</td>
                            </tr>
                            <tr>
                                <td>{{l.home.24}}</td>
                                <td>{{temp.Humidity|raw}}</td>
                            </tr>
                            <tr>
                                <td>{{l.home.25}}</td>
                                <td>{{temp.Wind|raw}}</td>
                            </tr>
                            <tr>
                                <td> {{l.home.26}} </td>
                                <td>{{temp.Sunrise|raw}}</td>
                            </tr>
                            <tr>
                                <td>  {{l.home.27}} </td>
                                <td>{{temp.Sunset|raw}}</td>
                            </tr>
                        </table>
                </div>
            </div>
       </div> 
</div>
<!-- info -->	




</div>
</div>
{% endblock %}