<!DOCTYPE html>
<html lang="" dir="rtl" >
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title> لوحة التحكم - {% block title %} {% endblock %}</title>

    <meta name="description" content="لوحة التحكم">
	<link rel="icon" type="image/x-icon" href="{{ admin_assets }}images/favicon.png" /> 

	<!-- Global stylesheets -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css" />
	<link href="{{ admin_assets }}/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css" />
	<link href="{{ admin_assets }}css/ar/bootstrap.css" rel="stylesheet" type="text/css" />
	<link href="{{ admin_assets }}css/ar/core.css" rel="stylesheet" type="text/css" />
	<link href="{{ admin_assets }}css/ar/components.css" rel="stylesheet" type="text/css" />
	<link href="{{ admin_assets }}css/ar/colors.css" rel="stylesheet" type="text/css" />
	<link href="{{ admin_assets }}/css/arfont/font.css" rel="stylesheet" type="text/css" />
	<link href="{{ admin_assets }}css/ar/main.css" rel="stylesheet" type="text/css" />
	<!-- /global stylesheets -->
	
	<!-- Core JS files -->
	<script type="text/javascript" src="{{ admin_assets }}js/plugins/loaders/pace.min.js"></script>
	<script type="text/javascript" src="{{ admin_assets }}js/core/libraries/jquery.min.js"></script>
	<script type="text/javascript" src="{{ admin_assets }}js/core/libraries/bootstrap.min.js"></script>
	<script type="text/javascript" src="{{ admin_assets }}js/plugins/loaders/blockui.min.js"></script>
	<!-- /core JS files -->

    <!-- Theme JS files -->
    <script type="text/javascript" src="{{ admin_assets }}js/plugins/forms/selects/select2.min.js"></script>
    <script type="text/javascript" src="{{ admin_assets }}js/plugins/forms/styling/uniform.min.js"></script>
    <script type="text/javascript" src="{{ admin_assets }}js/jquery.passwordstrength.js"></script>
	<script type="text/javascript" src="{{ admin_assets }}js/core/app.js"></script>
	<script type="text/javascript" src="{{ admin_assets }}js/main.js"></script>


    <!-- check for javascript -->
    <noscript>
        <meta http-equiv="refresh" content="0; url=http://www.google.com" />
    </noscript>
    
    <!-- costum css -->
    <link href="{{ admin_assets }}css/{{l.lang}}/costum.css" rel="stylesheet" type="text/css" />

 


<!-- Full width modal -->
<div id="modal_full" class="mediauploder modal fade">
<div class="modal-dialog modal-full">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h5 class="modal-title">الصورة البارزة </h5>
        </div>
        <div class="modal-body">
            <!-- Basic tabs -->
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-flat">
                        <div class="panel-body">
                            <div class="tabbable">
                                <ul class="nav nav-tabs">
                                    <li class="active"><a href="#basic-tab1" data-toggle="tab">رفع ملفات</a></li>
                                    <li><a href="#basic-tab2" id='medialibrary' data-toggle="tab">مكتبة الوسائط</a></li>
                                </ul>
                                <div class="tab-content">
                                        <!-- uploder Tab -->
                                        <div class="tab-pane active" id="basic-tab1">
                                        <div class="simpleUplader">
                                            <center>
                                             <label for="file" class="btn btn-danger btn-rounded uploadbtn">  <i class="icon-file-upload"></i>    رفع الملف </label>
                                             <input type="file"  style="visibility:hidden;" name="file" id="file" />
                                            </center>						   
                                        </div>
                                        </div>
                                        <!--// uploder Tab -->

                                        <!-- Media Library -->
                                        <div class="tab-pane" id="basic-tab2">
                                           <div class="simpleUplader2" style="padding-top:12px;">
                                           {% for item in media %}
                                            <div class="thumbnail">
                                                <div class="thumb">
                                                   <input type="checkbox" class='mediacheckbox' value="{{url.media}}{{item.name}}" id="img{{item.id}}" />
                                                   <label for="img{{item.id}}">
                                                    <img  src="{{url.media}}{{item.name}}" >
                                                   </label>
                                                </div>
                                            </div>
                                            {% endfor  %}
                                            
                                           </div>
                                        </div>
                                        <!--// Media Library -->
                                        <div class="modal-footer" style="visibility:hidden;">
                                            <button type="button" id='choosemedia' class="btn btn-primary">تعيين الصورة</button>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- /full width modal -->


</head>

<body>

    
    
    
    
    
    

    {% include "admin/elements/navbar.twig" %}

	<!-- Page container -->
	<div class="page-container">

		<!-- Page content -->
		<div class="page-content">

        {% include "admin/elements/sidebar.twig" %}

        {% block content %} {% endblock %}
        
		</div>
		
	</div>
	<script type="text/javascript" src="{{ admin_assets }}/js/main.js?v=0.2"></script>






    			
<!-- show the image when changed -->									


<script>
function clean () {
document.getElementById("avatarUploadPreview").value = "";
document.getElementById("ads-show").style.display = 'none';    
}

</script>

<script>
$("#deleteoldad").click(function(){
    $("#isAdChanged").val("true");
    $("#ads-show").hide();
    $("#deleteoldad").remove();

});
</script>





<script>
    
function readURL(input) {

if (input.files && input.files[0]) {
var reader = new FileReader();

reader.onload = function (e) {
$('#profile_avatar').attr('src', e.target.result);
}

reader.readAsDataURL(input.files[0]);
}
}
$("#avatarUploadPreview").change(function(){
readURL(this);
    $("#isAdChanged").val("true");
    $("#ads-show").show();
    $("#delete-ad").show();
});        
</script>




































<!-- see password compelxity in users create page -->
<script>
    .keyup(function() {
        $("#password_complexity").html(this.complexity);
    });
</script>

<script type="text/javascript">
    $(function() {
        $("#password").passwordStrength();
    });
</script>


<!-- Toggle Password Visibility -->
<script>
function tooglePassword() {
    var x = document.getElementById("password");
    if (x.type === "password") {
        x.type = "text";
    } else {
        x.type = "password";
    }
}
</script>

<!-- Create a Strong Password -->
<script>
function password_generator( len ) {
    var length = (len)?(len):(10);
    var string = "abcdefghijklmnopqrstuvwxyz"; //to upper 
    var numeric = '0123456789';
    var punctuation = '!@#$%^&*()_+~`|}{[]\:;?><,./-=';
    var password = "";
    var character = "";
    var crunch = true;
    while( password.length<length ) {
        entity1 = Math.ceil(string.length * Math.random()*Math.random());
        entity2 = Math.ceil(numeric.length * Math.random()*Math.random());
        entity3 = Math.ceil(punctuation.length * Math.random()*Math.random());
        hold = string.charAt( entity1 );
        hold = (password.length%2==0)?(hold.toUpperCase()):(hold);
        character += hold;
        character += numeric.charAt( entity2 );
        character += punctuation.charAt( entity3 );
        password = character;
    }
    password=password.split('').sort(function(){return 0.5-Math.random()}).join('');
    $("#password").val(password.substr(0,len));
}
</script>

<!-- تغيير الصورة الجديدة -->
<script>
$("#avatarUploadPreview").change(function(){    
    $("#avatarChanged").val("true");          
});    
</script>



<!-- show the image when changed in edit user page -->									
<script>
function readURL(input) {

if (input.files && input.files[0]) {
var reader = new FileReader();

reader.onload = function (e) {
$('#profile_avatar').attr('src', e.target.result);
}

reader.readAsDataURL(input.files[0]);
}
}
$("#avatarUploadPreview").change(function(){
readURL(this);
$("#isAvatarChanged").val("true");
});        
</script>






<script>    
$(document).ready(function(){
var minNumber = 40;
var maxNumber = 100;



function randomNumberFromRange(min,max)
{
    return Math.floor(Math.random()*(max-min+1)+min);
}
    
    
    
    
    
    
    
    
    
 $(document).on('change', '#file', function(){
  var name = document.getElementById("file").files[0].name;
  var form_data = new FormData();
  var ext = name.split('.').pop().toLowerCase();
   var imgurl = window.URL.createObjectURL(document.getElementById('file').files[0]);
   form_data.append("file", document.getElementById('file').files[0]);
   $.ajax({
    url:'{{url.base}}{{path_for("media.modal_uploader")}}',
    method:"POST",
    data: form_data,
    contentType: false,
    cache: false,
    processData: false,
    beforeSend:function(){
        
        var randomNumber = randomNumberFromRange(minNumber, maxNumber);
        
        
        $('a[href="#basic-tab2"]').trigger('click');
        $('#uploaded_image').html("<label class='text-success'>Image Uploading...</label>");
        $('.simpleUplader2').prepend("<div class='thumbnail'><div class='loader'><img  class='loaderimg' src='{{url.uploads}}/index.svg' /> </div><div class='thumb'><input type='checkbox' class='mediacheckbox' value='' id='img"+randomNumber+"'><label for='img"+randomNumber+"'><img src='"+imgurl+"' class='preee' /></label></div></div>");
    },   
       
       
       
       
       
    success:function(data) {
        
        $('.thumbnail .loader').remove();
        var imglink = "{{url.media}}"+data;
        $('.thumbnail .preee').attr('src', imglink); 
        $(".mediauploder .modal-footer").css("visibility", "visible");
        $(".mediacheckbox").val(imglink);
       
    }
   });
 });
});
</script>




<script>
    
    // this scrit is to allow selecting only one check box    
    $(document).on('click', '.mediacheckbox', function() {
        $('.mediacheckbox').not(this).prop('checked', false);
        $('.mediacheckbox').not(this).closest('.mediauploder .thumbnail').removeClass('checkedimg');
    });
    
    // add border and selected icon for the media when you check it
    $(".mediacheckbox").change(function() {
        if(this.checked) {
            $(this).closest('.mediauploder .thumbnail').addClass('checkedimg');
        }else{
         $(this).closest('.mediauploder .thumbnail').removeClass('checkedimg');
        }    
    });
        
    // close the modal when choosing & select the shit
    $('#choosemedia').click(function() {    
        $('.mediauploder').modal('toggle');
        
        
        // do what you want here
        alert($('.mediacheckbox:checked').val());
        
        
        $('.mediacheckbox:checked').closest('.mediauploder .thumbnail').removeClass('checkedimg');
        $('.mediacheckbox').removeAttr('checked');
     });
    
   $('.mediauploder [href="#basic-tab1"]').click(function() {    
         $(".mediauploder .modal-footer").css("visibility", "hidden");
      }); 

        
//});
</script>
















<script>    
// simple uploder
$('#uploader').submit(function(evt) {
        evt.preventDefault();
        var formData = new FormData(this);
        $.ajax({
        type: 'POST',
        url: '{{url.base}}{{path_for("media.upload")}}',
        data:formData,
        cache:false,
        contentType: false,
        processData: false,
         beforeSend: function(data) {
            $("#submitResult").html('جاري رفع الملف المرجوا الإنتظار رجاءً');
        },
        success: function(data) {
           $("#submitResult").html('تم رفع الملف بنجاح');
           $(".media-table tbody").prepend(data)
        },
        error: function(data) {
            $("#submitResult").html("حصل خطأ ما ، المرجوا المحاولة من جديد");
        }
        });
});    
</script>






<script>
    
// show the uploader
$(".showUploader").click(function() {
    $(".uploader_sec").show();
});
$(".showUploader2").click(function() {
    $(".empty_state").remove();
    $(".uploader_sec").show();
});
$("#medialibrary").click(function() {
           $(".mediauploder .modal-footer").css("visibility", "visible");
});

    
    
// Delete The Media
$(".media-table #DeleteMedia").click(function() {
    var id = $(this).data("id");
    $.ajax({
        type: "POST",
        url: "{{url.base}}{{path_for('media.delete')}}",
        data: { 
            id: $(this).data("id"), // < note use of 'this' here
        },
        success: function(result) {
            $("#"+id+"").remove();
        },
        error: function(result) {
            alert('error');
        }
    });
    
});
</script>





<script src="https://socialcounters.000webhostapp.com/SocialCounters/SocialCounters/js/api.js"></script>
 <script>
  $('#wrapper').SocialCounter({
    //Get Usernames
    facebook_user: 'Selaymane.Takieddine',
    instagram_user: '__takiddine',
    google_plus_id: '100542012590159373204',
    youtube_user: 'envato',

    twitter_user: 's_takiddine',

    //Get Access Tokens,keys,client_ids
    instagram_token:'7628507106.1677ed0.f2b245a551af4d20838563faa51e43b5',
    facebook_token:'521567395024176|46e646b839d85c573218ce94c0d646c4',
    youtube_key:'AIzaSyDXpwzqSs41Kp9IZj49efV3CSrVxUDAwS0',

  });
    </script>

<!-- show the image when changed -->									


<script>
function clean () {
document.getElementById("avatarUploadPreview").value = "";
document.getElementById("ads-show").style.display = 'none';    
}

</script>


<script>
    
function readURL(input) {

if (input.files && input.files[0]) {
var reader = new FileReader();

reader.onload = function (e) {
$('#profile_avatar').attr('src', e.target.result);
}

reader.readAsDataURL(input.files[0]);
}
}
$("#avatarUploadPreview").change(function(){
readURL(this);
    $("#ads-show").show();
    $("#delete-ad").show();
});        
</script>













<script src="{{admin_assets}}/js/jquery.nestable.js"></script>
<script src="{{admin_assets}}/js/jquery.nestable++.js"></script>
   
 <script>
     
     //  التحديد على مكان القائمة
     $("[name='area'][value='{{menu.area}}']").prop('checked', true);
     
     
      $('.dd.nestable').nestable({
        maxDepth: 2
      })
        .on('change', updateOutput);
    </script>









</body>


</html>{% spaceless %}

{% endspaceless %}
