<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title> لوحة التحكم - {% block title %} {% endblock %}</title>

	<!-- Global stylesheets -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css" />
	<link href="{{ admin_assets }}css/icons/icomoon/styles.css" rel="stylesheet" type="text/css" />
	<link href="{{ admin_assets }}css/bootstrap.css" rel="stylesheet" type="text/css" />
	<link href="{{ admin_assets }}css/core.css" rel="stylesheet" type="text/css" />
	<link href="{{ admin_assets }}css/components.css" rel="stylesheet" type="text/css" />
	<link href="{{ admin_assets }}css/colors.css" rel="stylesheet" type="text/css" />
	<link href="{{ admin_assets }}css/arfont/font.css" rel="stylesheet" type="text/css" />
	<link href="{{ admin_assets }}css/main.css" rel="stylesheet" type="text/css" />
	<!-- /global stylesheets -->

	<!-- Core JS files -->
	<script type="text/javascript" src="{{ admin_assets }}js/plugins/loaders/pace.min.js"></script>
	<script type="text/javascript" src="{{ admin_assets }}js/core/libraries/jquery.min.js"></script>
	
	<script type="text/javascript" src="{{ admin_assets }}js/core/libraries/bootstrap.min.js"></script>
	<script type="text/javascript" src="{{ admin_assets }}js/plugins/loaders/blockui.min.js"></script>
	<!-- /core JS files -->

    <!-- Theme JS files -->
    <script type="text/javascript" src="{{ admin_assets }}js/plugins/forms/selects/select2.min.js"></script>
    <script type="text/javascript" src="{{ admin_assets }}js/plugins/forms/styling/uniform.min.js"></script>
    <script type="text/javascript" src="{{ admin_assets }}js/jquery.passwordstrength.js"></script>
<!--	<script type="text/javascript" src="{{ admin_assets }}js/plugins/forms/styling/switchery.min.js"></script>-->
<!--	<script type="text/javascript" src="{{ admin_assets }}js/plugins/forms/styling/switch.min.js"></script>-->
	<script type="text/javascript" src="{{ admin_assets }}js/core/app.js"></script>
	<script type="text/javascript" src="{{ admin_assets }}js/main.js"></script>


    <!-- check for javascript -->
    <noscript>
        <meta http-equiv="refresh" content="0; url={{path_for('javascript-Disabled')}}" />
    </noscript>
<style>
    body{
        overflow-x: hidden;
    }
    .trclikable tr{
    cursor: pointer;
    }
/*
    .navigation > li > a {
    padding: 0px 18px;
    min-height: 38px;
}
*/

    
</style>

</head>

<body>

    {% include "admin/elements/navbar.twig" %}

	<!-- Page container -->
	<div class="page-container">

		<!-- Page content -->
		<div class="page-content">

        {% include "admin/elements/sidebar.twig" %}

        {% block content %} {% endblock %}
        
		</div>
		
	</div>


<style>
tr.removeRow {
    background: #e74c3c;
    border-color: #e74c3c;
    color: white;
}

tr.removeRow a {
    color: white;
}

</style>

<style>
.navbar.navbar-default.navbar-component.navbar-xs.transparent {
    background: transparent;
    border: 0;
    margin-bottom: 0;
    padding-right: 0 !important;
    margin-right: -11px !important;
}    
</style>

<style>
.datatable>thead>tr>th:first-child {
    padding: 0;
    text-align: center;
}
.datatable>tbody>tr>td:first-child {
     padding: 0; text-align: center;
}
</style>




<script>
$( document ).ready(function() {
    
    $(".checkboxall input").change(function() {
            if(this.checked) {
                $('.checkit input').prop('checked', true);

                $(".datatable tbody tr").each(function(){
                   $(this).addClass('removeRow');
                });

            }else{
                 $('.checkit input').prop('checked', false);
                $(".datatable tbody tr").each(function(){
                   $(this).removeClass('removeRow');
                });

            }
        });

    $(".checkit input").change(function() {
        if(this.checked) {

            $(this).closest('tr').addClass('removeRow');

        }else{
            $(this).closest('tr').removeClass('removeRow');
        }    
    });
    
 });
</script>

</body>
</html>