<style>
.avatar {
    display: inline-block;
}
</style>
<!-- Main navbar -->
<div class="navbar navbar-inverse">
    <div class="navbar-header">
        <a class="navbar-brand" href="{{path_for('admin.index')}}">لوحة التحكم</a>

        <ul class="nav navbar-nav visible-xs-block">
            <li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></a></li>
            <li><a class="sidebar-mobile-main-toggle"><i class="icon-paragraph-justify3"></i></a></li>
        </ul>
    </div>

    <div class="navbar-collapse collapse" id="navbar-mobile">
        <ul class="nav navbar-nav">
            <li><a class="sidebar-control sidebar-main-toggle hidden-xs "><i class="icon-paragraph-justify3"></i></a></li>
            <li><a target="_blank" href="{{path_for('website.home')}}">زيارة الموقع</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
           
           
           <li class="dropdown language-switch">
					<a class="dropdown-toggle" data-toggle="dropdown">
						<img src="/admin_assets/images/gb.png" class="position-left" alt="">
				
						<span class="caret"></span>
					</a>

					<ul class="dropdown-menu">
                            <li><a class="deutsch" href="?lang=ar"><img src="/admin_assets/images/ma.png" alt=""> العربية</a></li>
                            <li><a class="deutsch" href="?lang=en"><img src="/admin_assets/images/gb.png" alt=""> English</a></li>
            
					</ul>
				</li>
           
           
            <li class="dropdown dropdown-user">
                <a class="dropdown-toggle" data-toggle="dropdown">
                    {{ admin.avatar|navAvatar}}
                    <span>
                        {{admin.full_name}}
                    </span>
                    <i class="caret"></i>
                </a>

                <ul class="dropdown-menu dropdown-menu-right">
                    <li><a href="{{path_for('settings.account')}}"><i class="icon-cog5"></i> اعدادات الحساب</a></li>
                    <li><a href="{{path_for('logout')}}"><i class="icon-switch2"></i> تسجيل الخروج</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<!-- /main navbar -->