{% extends "admin/layout.twig" %}

{% block title %} {{l.inboxcreate.300}} {% endblock %}


{% block content %}
    
            
<style>
.editslugbtn {
    background: white;
    border: 1px solid #cac5c5;
    border-radius: 3px;
    font-size: 12px;
    width: 36px;
    display: inline-block;
    text-align: center;
    color: #797d7c;
}
.editslugbtn:hover {
    background: #efecec;
    border: 1px solid #adadad;
    border-radius: 3px;
    font-size: 12px;
}
</style> 
				<!-- Content area -->
				<div class="content">
			

				<!-- Page header -->
				<div class="page-header page-header-transparent">
					<div class="page-header-content">
						<div class="page-title">
							<h1> <span class="text-semibold">{{l.inboxcreate.300}}</span></h1>
						</div>

                    
						
					</div>
				</div>
				<!-- /page header -->
			

			        {% include "admin/elements/flash.twig" %}

<div class="col-md-12">								

<form  enctype="multipart/form-data" id="sendemail" method='post' action="{{ path_for('inbox.create') }}">
<input type="hidden"  name="thumbnailChanged" id="isAdChanged" value="false" />
 
 
 



<div class="col-md-8">								
    <div class="form-group">
        <label>{{l.inboxcreate.301}}</label>
        <input type="email" class="form-control frequired" name="reciever_email" placeholder="اميل المستقبل" value="{{old.reciever_email}}" />
    </div>
    <div class="form-group">
        <label> {{l.inboxcreate.302}} </label>
        <input type="text" class="form-control frequired" name="subject" placeholder=" عنوان الإميل" value="{{old.subject}}" />
    </div>	
    <textarea name="body" id="posteditor" >{{old.body}}</textarea>
    <br>
    <button type="submit" class="btn btn-block btn-primary">{{l.inboxcreate.303}}<i class="icon-arrow-left13 position-right"></i></button>
    <br>
    <div id="result"></div>
</div>					
					

        <div class="col-md-4">
         
        <div class="panel">
								<div class="panel-body">
									<h5 class="content-group">
										<span class="label label-flat label-rounded label-icon border-grey text-grey mr-10">
											<i class="icon-info3"></i>
										</span>

											{{l.inboxcreate.304}}
										
									</h5>


									<ul class="list list-icons">
										<li>
											<i class="icon-checkmark-circle text-success position-left"></i>
											<b>{{l.inboxcreate.305}}</b>
											<br>
											<p class="mg10">{{l.inboxcreate.306}}</p>
										</li>
										<li>
											<i class="icon-checkmark-circle text-success position-left"></i>
											<b>{{l.inboxcreate.307}} </b>
											<br>
											<p class="mg10">{{l.inboxcreate.308}}</p>
										</li>                                        
								            <li>
											<i class="icon-checkmark-circle text-success position-left"></i>
											<b>{{l.inboxcreate.309}}</b>
											<br>
											<p class="mg10"> {{l.inboxcreate.310}} </p>
										</li>
										
									<li>
								<i class="icon-checkmark-circle text-success position-left"></i>
											<b>{{l.inboxcreate.311}}</b>
											<br>
											<p class="mg10">
											   {{l.inboxcreate.312}}
											</p>
										</li>										
										

									</ul>
								</div>                     
        </div>
 
            
        
            
            

            

        </div>
 </form>
 </div>
</div>
<!-- /content area -->





 <script src="{{ admin_assets }}ckeditor/ckeditor.js"></script>
      <script>
//                          CKEDITOR.replace('posteditor');

CKEDITOR.replace( 'posteditor', {
    language: 'ar',
}); 

    </script>
    
    
    
    
    


    

{% endblock %}