{% extends "admin/layout.twig" %}
{% block title %} {{l.inboxread.293}} {% endblock %}


{% block content %}

                
                       
<!-- Main content -->
<div class="content-wrapper">


				<!-- Page header -->
				<div class="page-header page-header-transparent">
					<div class="page-header-content">
						<div class="page-title">
							<h1> <span class="text-semibold">{{l.inboxread.294}}</span></h1>
						</div>

					</div>
				</div>
				<!-- /page header -->


<!-- Content area -->
<div class="content">
		            
             
        
           <form action="{{ path_for('inbox.delete', {'id': email.id}) }}" id="DeleteMail" method="post">
           <input type="hidden" name="validate" value="DeleteMail">
           </form>

    
	<!-- Single mail -->
							<div class="panel panel-white">

								<!-- Mail toolbar -->
								<div class="panel-toolbar panel-toolbar-inbox">
									<div class="navbar navbar-default">
										<ul class="nav navbar-nav visible-xs-block no-border">
											<li>
												<a class="text-center collapsed" data-toggle="collapse" data-target="#inbox-toolbar-toggle-single">
													<i class="icon-circle-down2"></i>
												</a>
											</li>
										</ul>

										<div class="navbar-collapse collapse" id="inbox-toolbar-toggle-single">
											<div class="btn-group navbar-btn">
												
												<a href="#" class="btn btn-default text-primary-600"><i class="icon-printer"></i> <span class="hidden-xs position-right">{{l.inboxread.294}}</span></a>
												<a onclick="document.getElementById('DeleteMail').submit();"  class="btn btn-default text-danger-600"><i class="icon-bin"></i> <span class="hidden-xs position-right">{{l.inboxread.295}}</span></a>
											</div>

											<div class="pull-right-lg">
												<p class="navbar-text">{{email.created_at|makeNiceTime}}</p>
												
											</div>
										</div>
									</div>
								</div>
								<!-- /mail toolbar -->


								<!-- Mail details -->
								<div class="media stack-media-on-mobile mail-details-read">
									

									<div class="media-body">
										<b>{{l.inboxread.296}}</b> : {{email.reciever_email}}
										<br>
										<b>{{l.inboxread.297}} </b>: {{email.subject}}
									</div>

									
								</div>
								<!-- /mail details -->


								<!-- Mail container -->
								<div class="mail-container-read">
                                {{email.body|raw}}
									

								</div>
								<!-- /mail container -->



							</div>
							<!-- /single mail -->        

                
</div>
</div>					
{% endblock %}				