{% extends "admin/layout.twig" %}
{% block title %} الإعلانات {% endblock %}

{% block content %}	


<!-- Main content -->
<div class="content-wrapper">


<!-- Page header -->
<div class="page-header page-header-transparent">
    <div class="page-header-content">
        <div class="page-title">
            <h1><span class="text-semibold">الإعلانات</span></h1>
        </div>
    </div>
</div>
    
    
    
<!-- Content area -->
<div class="content">
		
{% include "admin/elements/flash.twig" %}
	<div class="panel panel-flat col-md-8">
		


		<div class="panel-body">
			<form class="form-horizontal" enctype='multipart/form-data' method="post" action="{{ path_for('ads.show', {'id': ads.id}) }}" />
			
			<input type="hidden" id='isAdChanged' name="isAdChanged" value="false" />
			
				<fieldset class="content-group">
			

                
                <div class="form-group switechers">
                	<label class="control-label col-lg-3">تفعيل الاعلان</label>
                    <div class="col-lg-9">
                    <label class="adminswitch">
                        <input name='active' type="checkbox"  value="active"  {% if ads.statue  == 1 %} checked="checked" {% endif %} />
                        <span class="slider round"></span>
                    </label>
                    </div>
                    </div>
                    
                    
					<div class="form-group">
						<label class="control-label col-lg-3">عنوان الاعلان</label>
						<div class="col-lg-9">
							<input type="text" class="form-control" name="name" value='{{ads.name}}'/>
							<p class="text-muted">عنوان للإعلان - ( ليس مهماً لكنه اضفه من أجل تمييز الإعلانات بلوحة التحكم) .</p>
						</div>
					</div>
					
					<div class="tie-option-pre-label">صورة الإعلان</div>
					<hr>
					<div class="form-group">
						<label class="control-label col-lg-3">صورة الاعلان</label>
						<div class="col-lg-3">
							   <label for="avatarUploadPreview" class="btn btn-danger btn-rounded"><i class="icon-image2 position-left"></i> اختيار الصورة </label>
							   <input name="image" id="avatarUploadPreview" accept="image/jpg, image/jpeg, image/png" style="visibility:hidden;" type="file" />
						</div>
						
					</div>
					
					<div class="form-group">
						<label class="control-label col-lg-3">رابط الاعلان</label>
						<div class="col-lg-9">
							<input type="text" class="form-control" value='{{ads.url}}' name="link" />
						</div>
					</div>
					
					<div class="tie-option-pre-label">- أو - كود إعلان خاص</div>
					<hr>
					<div class="form-group">
						<label class="control-label col-lg-3">كود إعلان خاص
						</label>
						<div class="col-lg-9">
                            <p class="text-muted">يمكن استعمال كود ادسنس هنا </p>
							<textarea name="codehtml" class="form-control" rows="8">{{ads.htmlcode}}</textarea>
						</div>
					</div>
					
	
				</fieldset>
				<div class="text-right">
					<button type="submit" class="btn btn-primary" >تحديث الإعلان<i class="icon-arrow-left13 position-right"></i></button>
				</div>
		
		</div>
				<div id="submitResult"></div>

	</div>

    <div class="col-md-4">
				
	<div class="panel panel-white">
								<div class="panel-heading">
									<h6 class="panel-title"> تحدد مكان الإعلان :</h6>
								</div>

								<div class="panel-body">
									 <select  name="areaUndetected" style="width:100%;" class="areaUndetected">
                                        <option value="not_speci">غير محدد بعد</option>
                                      <option value="home_1">الرئيسية الإعلان 1</option>
                                        <option value="home_2">الرئيسية الإعلان 2</option>
                                        <option value="home_3">الرئيسية الإعلان 3</option>
                                        <option value="home_4">الرئيسية الإعلان 4</option>
                                        <option value="home_5">الرئيسية الإعلان 5</option>
                                        <option value="home_6">الرئيسية الإعلان 6</option>
                                     
                                </select>
								</div>
							</div>
							</form>		
        
        <style>
        .ads-preview img {
    width: 100%;
}
        </style>
        
        
        
        <div class="panel panel-flat" {% if ads.image  == " "  %}  style="display:none;" {% endif %}  id="ads-show"> 
        <div class="panel-heading">
            معاينة الإعلان
            <div  class="heading-elements"  >
            
            <ul class="icons-list">
                <li style="display:none" id='delete-ad'><a onclick="clean()" ><i class="icon-cross2 position-right" ></i> حذف الصورة </a></li>
                {% if ads.image  != " "  %}
                    <li ><a id='deleteoldad'><i class="icon-cross2 position-right" ></i> حذف الصورة </a></li>
                {% endif %}
            </ul>
            
            
        
            </div>
            
            
        </div>
    <div class="panel-body">
       <div class="ads-preview"><img id='profile_avatar' src="{{ads_url}}{{ads.image}}"  /></div>
    </div>
</div>
    </div>













	
    </div>
    
    
    
    

<!-- set the select -->		
<script> $('.areaUndetected').select2({ placeholder: 'تحديد مكان الإعلان',}); </script>
				
<!-- change the value of selected Country to user's country -->
<script> $(document).ready(function() { $(".areaUndetected").select2().val("{{ads.area}}").trigger("change") }); </script>		
	
	
	
	
{% endblock %}	

