{% extends "admin/layout.twig" %}
{% block title %} {{l.userscreate.1}} {% endblock %}
{% block content %}

<!-- Main content -->
<div class="content-wrapper">

    <!-- Content area -->
    <div class="content">
        {% include "admin/elements/flash.twig" %}
        
        <h1>اضافة عضو جديد</h1>
        <p class="text-muted">{{l.userscreate.3}}</p>
        <div class="col-md-12">
            <div class="panel panel-flat col-md-12">
                <div class="panel-body">
                   <div id="result"></div>
                    <form class="form-horizontal" id="createuser" method='post' action="{{path_for('users.create')}}" autocomplete="off">
                        <fieldset class="content-group">
                            <legend class="text-bold">{{l.userscreate.4}}</legend>
                            <div class="form-group">
                                <label class="control-label col-lg-2">{{l.userscreate.5}}</label>
                                <div class="col-lg-10">
                                    <input type="text" class="form-control frequired" autocomplete="new-password" name="username" placeholder="@username" value="{{ old.username }}" required >
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-lg-2">{{l.userscreate.6}}</label>
                                <div class="col-lg-10">
                                    <input type="email" class="form-control frequired" autocomplete="new-password" value="{{ old.email }}" name="email" placeholder="البريد الإلكتروني" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-lg-2">{{l.userscreate.7}}</label>
                                <div class="col-lg-10">
                                    <input type="password" autocomplete="new-password" value="{{ old.password }}" class="form-control frequired" name="password" id="password" placeholder="كلمة المرور" required> 
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-lg-2">{{l.userscreate.8}}</label>
                                <div class="col-lg-10">
                                   
                                   {% if old.role is not empty %}
                                       <select name="role" class="form-control">
                                            {% if old.role =='1' %}
                                                <option value="1" class="form-control">{{l.userscreate.9}}</option>
                                                <option value="2" class="form-control">{{l.userscreate.10}}</option>
                                            {% else  %}
                                                <option value="2" class="form-control">{{l.userscreate.10}}</option>
                                                <option value="1" class="form-control">{{l.userscreate.9}}</option>
                                            {% endif  %}
                                        </select>
                                   {% endif  %}
                                   
                                   {% if old.role is empty %}
                                        <select name="role" class="form-control">
                                                <option value="1" class="form-control">{{l.userscreate.9}}</option>
                                                <option value="2" class="form-control">{{l.userscreate.10}}</option>
                                        </select>  
                                   {% endif  %}   
                                </div>
                            </div>
                        </fieldset>
                        <div class="text-right">
                            <button type="submit" class="btn btn-primary" id="Submit_Add_User">
                               {{l.userscreate.15}}
                                <i class="icon-arrow-left13 position-right"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>            
{% endblock %}	