{% extends "admin/layout.twig" %}
{% block title %} القوائم {% endblock %}

{% block content %}

<style>
/**
*  Nestable css
*/
.dd {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  max-width: 600px;
  list-style: none;
  font-size: 13px;
  line-height: 20px;
}

.dd-list {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
}

.dd-list .dd-list {
  padding-left: 30px;
}

.dd-collapsed .dd-list {
  display: none;
}

.dd-item,
.dd-empty,
.dd-placeholder {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  min-height: 20px;
  font-size: 13px;
  line-height: 20px;
}

.dd-handle {
  display: block;
  height: 30px;
  margin: 5px 0;
  padding: 5px 10px;
  color: #333;
  text-decoration: none;
  font-weight: bold;
  border: 1px solid #ccc;
  background: #fafafa;
  background: -webkit-linear-gradient(top, #fafafa 0%, #eee 100%);
  background: -moz-linear-gradient(top, #fafafa 0%, #eee 100%);
  background: linear-gradient(top, #fafafa 0%, #eee 100%);
  -webkit-border-radius: 3px;
  border-radius: 3px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.dd-handle:hover {
  color: #2ea8e5;
  background: #fff;
}

.dd-item > button {
  display: block;
  position: relative;
  cursor: pointer;
  float: left;
  width: 25px;
  height: 20px;
  margin: 5px 0;
  padding: 0;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  border: 0;
  background: transparent;
  font-size: 12px;
  line-height: 1;
  text-align: center;
  font-weight: bold;
}

.dd-item > button:before {
  content: '+';
  display: block;
  position: absolute;
  width: 100%;
  text-align: center;
  text-indent: 0;
}

.dd-item > button[data-action="collapse"]:before {
  content: '-';
}

.dd-placeholder,
.dd-empty {
  margin: 5px 0;
  padding: 0;
  min-height: 30px;
  background: #f2fbff;
  border: 1px dashed #b6bcbf;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.dd-empty {
  border: 1px dashed #bbb;
  min-height: 100px;
  background-color: #e5e5e5;
  background-image: -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff),
    -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
  background-image: -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff),
    -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
  background-image: linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff),
    linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
  background-size: 60px 60px;
  background-position: 0 0, 30px 30px;
}

.dd-dragel {
  position: absolute;
  pointer-events: none;
  z-index: 9999;
}

.dd-dragel > .dd-item .dd-handle {
  margin-top: 0;
}

.dd-dragel .dd-handle {
  -webkit-box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, .1);
  box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, .1);
}

/**
* Nestable Extras
*/
.nestable-lists {
  display: block;
  clear: both;
  padding: 30px 0;
  width: 100%;
  border: 0;
  border-top: 2px solid #ddd;
  border-bottom: 2px solid #ddd;
}

#nestable-menu {
  padding: 0;
  margin: 20px 0;
}

#nestable-output,
#nestable2-output {
  width: 100%;
  height: 7em;
  font-size: 0.75em;
  line-height: 1.333333em;
  font-family: Consolas, monospace;
  padding: 5px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

#nestable2 .dd-handle {
  color: #fff;
  border: 1px solid #999;
  background: #bbb;
  background: -webkit-linear-gradient(top, #bbb 0%, #999 100%);
  background: -moz-linear-gradient(top, #bbb 0%, #999 100%);
  background: linear-gradient(top, #bbb 0%, #999 100%);
}

#nestable2 .dd-handle:hover {
  background: #bbb;
}

#nestable2 .dd-item > button:before {
  color: #fff;
}

.dd {
  //  float: left;
  //  width: 48 %;
  width: 80%;
}

.dd + .dd {
  margin-left: 2%;
}

.dd-hover > .dd-handle {
  background: #2ea8e5 !important;
}

/**
* Nestable Draggable Handles
*/
.dd3-content {
  display: block;
  height: 30px;
  margin: 5px 0;
  padding: 5px 10px 5px 40px;
  color: #333;
  text-decoration: none;
  font-weight: bold;
  border: 1px solid #ccc;
  background: #fafafa;
  background: -webkit-linear-gradient(top, #fafafa 0%, #eee 100%);
  background: -moz-linear-gradient(top, #fafafa 0%, #eee 100%);
  background: linear-gradient(top, #fafafa 0%, #eee 100%);
  -webkit-border-radius: 3px;
  border-radius: 3px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.dd3-content:hover {
  color: #2ea8e5;
  background: #fff;
}

.dd-dragel > .dd3-item > .dd3-content {
  margin: 0;
}

.dd3-item > button {
  margin-left: 30px;
}

.dd3-handle {
  position: absolute;
  margin: 0;
  left: 0;
  top: 0;
  cursor: pointer;
  width: 30px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  border: 1px solid #aaa;
  background: #ddd;
  background: -webkit-linear-gradient(top, #ddd 0%, #bbb 100%);
  background: -moz-linear-gradient(top, #ddd 0%, #bbb 100%);
  background: linear-gradient(top, #ddd 0%, #bbb 100%);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.dd3-handle:before {
  content: '≡';
  display: block;
  position: absolute;
  left: 0;
  top: 3px;
  width: 100%;
  text-align: center;
  text-indent: 0;
  color: #fff;
  font-size: 20px;
  font-weight: normal;
}

.dd3-handle:hover {
  background: #ddd;
}


/*
* Nestable++
*/
.button-delete {
    position: absolute;
    top: -1px;
    left: -42px;
}

.button-edit {
    position: absolute;
    top: -1px;
    left: -82px;
}

#menu-editor {
  margin-top: 40px;
}

#saveButton {
  padding-right: 30px;
  padding-left: 30px;
}

.output-container {
  margin-top: 20px;
}

#json-output {
  margin-top: 20px;
}


</style>



<div id="edit_modal" class="modal fade">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal">×</button>
								</div>

								<div class="modal-body">
									    <form class="" id="menu-editor">
<!--            <h3>Editing <span id="currentEditName"></span></h3>-->
            <div class="form-group">
              <label for="addInputName">الإسم</label>
              <input type="text" class="form-control" id="editInputName" placeholder="Item name" required>
            </div>
            <div class="form-group">
              <label for="addInputSlug">الرابط</label>
              <input type="text" class="form-control" id="editInputSlug" placeholder="item-slug">
            </div>
            <button class="btn btn-primary" data-dismiss="modal" id="editButton">تعديل</button>
          </form>
								</div>

							</div>
						</div>
					</div>

<!-- Main content -->
<div class="content-wrapper">

<button type="button" id='edit-modal' class="btn btn-default btn-sm hidden" data-toggle="modal" data-target="#edit_modal">Launch <i class="icon-play3 position-right"></i></button>

            
				<!-- Page header -->
				<div class="page-header page-header-transparent">
					<div class="page-header-content">
						<div class="page-title">
							<h1><i class="icon-arrow-right6 position-left"></i> <span class="text-semibold">القوائم</span></h1>
						</div>

					
					</div>
				</div>
				<!-- /page header -->




<!-- Content area -->
<div class="content">

		{% include "admin/elements/flash.twig" %}

    
    
    
    
    <div class="row">
        
        
        <!-- Menus -->
<div class="col-md-12">           
<div class=" navbar navbar-default navbar-component navbar-xs"  style="padding:10px;">
<div class="col-md-2 " style="padding-top:10px;">اختر قائمة لتحريرها</div>
<div class="col-md-3">
<select  name="areaUndetected" style="width:100%;" class="areaUndetected">
<option value="not_speci">— اختيار —</option>
{% for menu in menus %}
    <option value="{{path_for('menus.edit',{id:menu.id })}}">{{menu.name}}</option>
{% endfor %} 


</select>
</div>
<div class="col-md-3" style="padding-top:10px;"> 
أو .
<a href="{{path_for('menus')}}?action=create">أنشئ قائمة جديدة</a>
</div>
                                

            </div>
        </div>

        
        <!-- Menus Here -->
        <div class="col-md-3">
							<!-- Accordion widget -->
							<div class="panel-group content-group" id="menu-accordion">
								<div class="panel panel-default">
									<div class="panel-heading">
										<h6 class="panel-title text-semibold">
											<a data-toggle="collapse" data-parent="#menu-accordion" href="#accordion1"> الصفحات</a>
										</h6>
									</div>

									<div id="accordion1" class="panel-collapse collapse in">
										<div class="panel-body"> 
										
										<form  id="menu-add-pages">
										<ul style="list-style:none;">
                                           
                                           {% for i in 0..4 %}
										    <li>
										      <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" value="hada{{i}}" class="styled" data-name='dlkdkdl{{i}}' data-slug='ikhan' />
                                                    مقالة الجديدة
                                                </label>
										        </div>
										  </li>
										  {% endfor %}
										</ul>
                                        <div class="form-group">
                                            <button class="btn btn-info" id="addButtonPages">اضف للقائمة</button>
                                        </div>
                                            </form>
										
										</div>
									</div>
								</div>

								<div class="panel panel-default">
									<div class="panel-heading">
										<h6 class="panel-title text-semibold">
											<a data-toggle="collapse" data-parent="#menu-accordion" href="#accordion2">المقالات</a>
										</h6>
									</div>

									<div id="accordion2" class="panel-collapse collapse">
										<div class="panel-body"></div>
									</div>
								</div>

								<div class="panel panel-default">
									<div class="panel-heading">
										<h6 class="panel-title text-semibold">
											<a data-toggle="collapse" data-parent="#menu-accordion" href="#accordion3">روابط مخصصة</a>
										</h6>
									</div>

									<div id="accordion3" class="panel-collapse collapse">
										<div class="panel-body">
										    <!-- /accordion widget -->
                                            <form  id="menu-add">
                                            
                                
                                            
                                            <div class="form-group">
                                            <label for="addInputName">نص الرابط</label>
                                            <input type="text" class="form-control" id="addInputName"  required>
                                            </div>
                                            <div class="form-group">
                                            <label for="addInputSlug">الرابط</label>
                                            <input type="text"  value='http://' class="form-control" id="addInputSlug"  required>
                                            </div>
                                                                                        <div class="form-group">

                                            <button class="btn btn-info" id="addButton">اضف للقائمة</button>
                                                </div>
                                            </form>
										</div>
									</div>
								</div>
							</div>
						

          
            
            
        </div>
        <div class="col-md-9">
            
            {% if create == 'true' %}
            <form action="{{path_for('menus')}}" method='post'>
            {% endif %}
            
            {% if create != 'true' and menu.id is not empty %}
            <form action="{{path_for('menus.edit',{id:menu.id })}}" method='post'>
            {% endif %}
            
            {% if create != 'true' %}
            <form action="{{path_for('menus.edit',{id:menus[0].id })}}" method='post'>
            {% endif %}
            
            <div class="panel">
            
            
            
            <div class="panel-heading" >
            <h6 class="panel-title">
            <input type="text" name="menu_name" placeholder="اسم القائمة" value="{{menu.name}}" class="form-control" style="width:250px;">
            </h6>
            
            <div class="heading-elements">
                {% if create == 'true' %}
                <input type="hidden" name="validate" value="create">
                <button type="submit" class="btn btn-info" id="addButtonPages">إنشاء القائمة</button>
                {% endif %}

                {% if create != 'true' %}
                <input type="hidden" name="validate" value="save">
                <button type="submit" class="btn btn-info" id="addButtonPages">حفظ القائمة</button>
                {% endif %}
            </div>
            
            </div>
            

            
             

           
            
               <legend style="padding-top: 0;margin-top: -9px;"></legend>
                <div class="panel-body">
                   {% if create != 'true' %}
                   <textarea style="display:none;" name="menu_json" id="json-output" cols="30" rows="10"></textarea>
                   <input type="hidden" name="menu_id" value="{{menu.id}}">
                    <div class="dd nestable">
                    
                    
                    {% if menu is not empty %}

                    
            <ol class="dd-list">

              <!--- Initial Menu Items --->

            
             {% for menu in menu.the_menu() %}
  <li class="dd-item" data-id="{{menu.id}}" data-name="{{menu.name}}" data-slug="{{menu.slug}}" data-new="0" data-deleted="0">
    <div class="dd-handle">{{menu.name}}</div>
    <span class="button-delete btn btn-default btn-xs pull-right"
          data-owner-id="{{menu.id}}">
      <i class="icon-cancel-square"></i>
    </span>
    <span class="button-edit btn btn-default btn-xs pull-right"
          data-owner-id="{{menu.id}}" data-toggle="modal" data-target="#edit_modal">
      <i class="icon-pencil7"></i>
    </span>
               {% if menu.children is defined %}
                <ol class="dd-list">
                {% for childmenu in menu.children %}
                  <li class="dd-item" data-id="{{childmenu.id}}" data-name="{{childmenu.name}}" data-slug="{{childmenu.slug}}" data-new="0" data-deleted="0">
                    <div class="dd-handle">{{childmenu.name}}</div>
                    <span class="button-delete btn btn-default btn-xs pull-right"
                          data-owner-id="{{childmenu.id}}">
                      <i class="icon-cancel-square"></i>
                    </span>
                    <span class="button-edit btn btn-default btn-xs pull-right"
                          data-owner-id="{{childmenu.id}}" data-toggle="modal" data-target="#edit_modal">
                      <i class="icon-pencil7"></i>
                    </span>
                  </li>
                 {% endfor %} 
                  </ol>
                 
               
                {% endif %}
    
  </li>
{% endfor %} 

            </ol>
                          {% endif %} 
          </div>
               {% endif %}
               
               {% if create == 'true' %}
               أعط القائمة الخاصة بك اسمًا، ثم انقر على إنشاء قائمة.
               {% endif %}
               
               
                <legend></legend>
                <b>مكان عرض القائمة</b>
                </br>
                </br>
                <ul class="list-style" style="list-style:none;">
                    <li>
                     <input type="radio" id="top_menu" name="area" value="top_menu" />
                     <label for="top_menu"> القائمة العلوية  </label>
                    </li>
                    <li>
                     <input type="radio" name="area" id="main_menu" value="main_menu" />
                     <label for="main_menu"> القائمة الرئيسية </label>
                    </li>      
                    <li>
                     <input type="radio" name="area" id="footer_1" value="footer_1" />
                     <label for="footer_1"> قائمة الفوتر 1 </label>
                    </li>
                    <li>
                     <input type="radio" name="area" id="footer_2" value="footer_2" />
                     <label for="footer_2"> قائمة الفوتر 2 </label>
                    </li>
                    <li>
                     <input type="radio" name="area" id="footer_3" value="footer_3" />
                     <label for="footer_3"> قائمة الفوتر 3 </label>
                    </li>     
                    <li>
                     <input type="radio" name="area" id="footer_4" value="footer_4" />
                     <label for="footer_4"> قائمة الفوتر 4 </label>
                    </li>                                          
                </ul>
               
               
    
               
                </div>
                
                
               
            </div>
        </form>
        </div>
    </div>
      
      
      
           
      

</div>
	
    <script src="{{admin_assets}}/js/jquery.nestable.js"></script>
    <script src="{{admin_assets}}/js/jquery.nestable++.js"></script>
    <script>
      $('.dd.nestable').nestable({
        maxDepth: 5
      })
        .on('change', updateOutput);
    </script>
    
    
    <!-- set the select -->		
<script> $('.areaUndetected').select2({ placeholder: 'تحديد مكان الإعلان',}); </script>
             
<script>
    
    $("[name='area'][value='{{menu.area}}']").prop('checked', true);

 
    
    
$(".areaUndetected").on("select2:select", function (e) {
    window.open(e.params.data.id,"_self");
});
</script>  
    
    <style>
        .dd-handle {
    height: 40px;
}

    .button-edit {
    position: absolute;
    top: 4px;
    left: 30px;
    background: none !important;
    border: 0 !important;
}
        .button-delete {
    position: absolute;
    top: 5px;
    left: 1px;
    background: none !important;
    border: none !important;
}
    
    </style>
    
    
{% endblock %}	
            

                    
                                  
                     
                    
            				
